body{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 50px;
}

#controls{
    clear: both;
}

#my_hand{
    clear: both;
    border: 1px solid gray;
    height: 250px;
    width: 853px;
}

#my_hand div{
    float: left;
}

h3{
    display: inline;
    padding-left: 40px;
}

.current_hand{
    float: left;
}
