body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#my_hand img{
    width: 100px;
}

#btnDeal img{
    padding-top: 30px;
    width: 200px;
}

#controls{
    clear: both;
    display: inline-block;
    padding-top: 30px;
}

#my_hand{
    clear: both;
    border: 1px solid gray;
    width: 900px;
    height: 500px;
}

#my_hand div{
    float: left;
}

h3{
    display: inline;
    padding-left: 40px;
}

.current_hand{
    float: left;
}

#btnHit, #btnStick, #btnRestart{
    float: left;
    display: inline-block;
    padding-top: 30px;
}

h3{
    display: inline;
    padding-right: 40px;
}