에밀리의 요구사항 이메일
- 요청을 조각내서 할 일 목록으로 만들기

1. 페이지는 섹션 네 개로 나눈다. 
2. 각 세션마다 이미지를 하나씩 넣는다. 
2-1. 각 세션을 클릭할 수 있어야 한다. 
3. '~% 할인받으셨습니다'라는 메시지를 띄우고 싶다. 
3-1. 할인율은 5-10% 사이에서 랜덤하게 정해진다. 
3-2. 사용자가 섹션 중 하나를 선택하면 그 섹션에 있는 이미지 아래에 할인율 메시지가 표시되어야 한다. 
4. 사용자가 같은 섹션을 다시 누르면 마지막 메시지를 지우고 새 메시지가 표시되어야 한다.


